<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SNLocation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4BA9F1301C4A2261000EE633</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BA9F1491C4A2261000EE633</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BA9F1541C4A2261000EE633</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
